.header {
    font-weight: bolder;
    background-color:#d3d0d0 ;
    max-width: 100%;
    /*position: absolute;*/
}

.ham-icon{
    width:30px;
    height: 30px;
    clear:right;
}

.contribute{
    float:right;
    padding:10px;
    background-color: white;
    border-radius: 5px;
    font-weight: bolder;
    margin-right: 5px;
}
.tablerow{
    padding: 10px;
}
.symbolImage{
    height: 20%;
    width: 20%;
}
.flagImage{
    height: 30%;
    width: 30%;
}
.rightArrow{
    height: 20%;
    width: 20%;
}
th,td {
    text-align: center;
    padding: 10px;
}
table,tr {
    border: 2px solid #b7bec9;
    border-collapse: collapse;
}
.mainTable{
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px #b7bec9;
}